{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Subscriber{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name"> Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="email">Email</label>
    <textarea name="email" id="email">{{ request.form['email'] }}</textarea>
    <label for="address"> Address</label>
    <textarea name="address" id="ddress">{{ request.form['address'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}
