{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Subscriber{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name"> Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="email">Email</label>
    <input name="email" id="email" value= "{{ request.form['email'] }}"/>
    <label for="address"> Address</label>
    <input name="address" id="ddress" value="{{ request.form['address'] }}"/>
    <input type="submit" value="Save">
  </form>
{% endblock %}
