{% extends 'base.html' %}

{% block header %}
  <h1>{% block Name %}Edit "{{ post['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or  subscribers['name'] }}" required>
    <label for="email">Body</label>
    <textarea name="email" id="email">{{ request.form['email'] or subscribers['email'] }}</textarea>
    <label for="Address">Body</label>
    <textarea name="address" id="address">{{ request.form['address'] or subscribers['address'] }}</textarea>
    
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('subscribers.delete', id=subscribers['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
